<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.657433323337-c4p5785b3e7dirj8l19egvcuaug45eei</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>adventuretube-categories.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AdventureTube need your location to bring the map on right place</string>
	<key>Privacy - Location Always and When In Usez Usage Description</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>GIDClientID</key>
	<string>657433323337-c4p5785b3e7dirj8l19egvcuaug45eei.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
	  <dict>
	    <key>CFBundleURLSchemes</key>
	    <array>
	      <string>com.googleusercontent.apps.657433323337-c4p5785b3e7dirj8l19egvcuaug45eei</string>
	    </array>
	  </dict>
	</array>
	<key>GIDServerClientID</key>
    <string>657433323337-t5e70nbjmink2ldmt3e34pci55v3sv6k.apps.googleusercontent.com</string>
	<key>GIDHostedDomain</key>
    <string>adventuretripvideo.com</string>
</dict>
</plist>
